﻿@using PassFix.Helpers
@model PassFix.ViewModels.EditUserClaimsWrap

<div class="container padded">
    <div class="ui padded centered grid">
        <div class="six wide column">
            <div class="segmentheader">Unselected Actions</div>
            <div class="ui vertical menu">
                <div class="item searchbox">
                    <div class="ui input">
                        <input type="text" class="searchinput" placeholder="Search...">
                    </div>
                </div>
                <div class="item addaction">
                    @foreach (var item in Model.Claims)
                    {
                        @item.Controller.SplitCamelCase()
                        <div class="menu selectable">
                            @foreach (var action in item.UnSelectedClaims)
                            {
                                <a class="item" data-val="@(item.Controller)/@(action)">@action.SplitCamelCase()</a>
                            }
                        </div>
                        <div class="seperate"></div>
                    }
                </div>
            </div>
            <div class="button ui centered teal selectall">Select All</div>
        </div>
        <div class="three wide center middle aligned column">
            <div class="ui vertical buttons">
                <div id="addActionBtn" data-id="@Model.UserId" class="button disabled primary ui space spacedownm">Add</div>
                <div id="removeActionBtn" data-id="@Model.UserId" class="button disabled red ui">Remove</div>
            </div>
        </div>
        <div class="six wide column">
            <div class="segmentheader">Selected Actions</div>
            <div class="ui vertical menu">
                <div class="item searchbox">
                    <div class="ui input">
                        <input type="text" class="searchinput" placeholder="Search...">
                    </div>
                </div>
                <div class="item removeaction">
                    @foreach (var item in Model.Claims)
                    {
                        @item.Controller.SplitCamelCase()
                        <div class="menu selectable">
                            @foreach (var action in item.SelectedClaims)
                            {
                                <a class="item" data-val="@(item.Controller)/@(action)">@action.SplitCamelCase()</a>
                            }
                        </div>
                        <div class="seperate"></div>
                    }
                </div>               
            </div>
            <div class="button ui centered teal deselectall">Select All</div>
        </div>
    </div>
</div>   