﻿@using PassFix.Models.Central
@model PassFix.Models.Central.ApplicationUser

<div class="container spacetop">
    <div class="grid">
        <div class="column">
            <h3>Update Personal Details</h3>
            <form id="personalDetails" asp-controller="UserManagement" asp-action="UpdatePersonalDetails" method="post" class="ui large form">
                @Html.HiddenFor(x => x.Id)
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" asp-for="UserName" id="username" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" asp-for="FirstName" id="firstname" name="firstname" placeholder="First name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" asp-for="Surname" name="surname" placeholder="Surname">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            <input type="text" asp-for="PhoneNumber" name="phonenumber" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" asp-for="Gender" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Gender</div>
                            <div class="menu">
                                <div class="item" data-value="M">Male</div>
                                <div class="item" data-value="F">Female</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Update</div>
                </div>

                <div class="ui success message">
                    <div class="header">Update Successful</div>
                </div>
                <div class="ui error message">
                    <div class="header">Update Failed. Please try again later</div>
                </div>
            </form>
        </div>
        
        <div class="ui hidden divider"></div>

        
        <div class="column">
            <h3>Change Password</h3>
            <form id="changepassword" asp-controller="UserManagement" asp-action="ChangePassword" method="post" class="ui large form">
                @Html.HiddenFor(x => x.Id)
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" asp-for="CurrentPassword" name="currentpassword" placeholder="Enter current Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" asp-for="NewPassword" name="newpassword" placeholder="Enter new password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" asp-for="NewPasswordConfirm" name="newpasswordconfirm" placeholder="Confirm new password">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Update</div>
                </div>

                <div class="ui success message">
                    <div class="header">Password successfully changed</div>
                </div>
                <div class="ui error message">
                    <div class="header">Invalid details entered</div>
                </div>
            </form>
        </div>
    </div>
</div>