﻿@using PassFix.Models.Central
@model List<PassFix.Models.Central.ApplicationUser>
    
<h1 class="spacetop">Registered Users</h1>
<div id="manageOtherUsers">
    @Html.Partial("_ManageOtherUsers", Model)
</div>