﻿@using PassFix.Models.Central
@model List<PassFix.Models.Central.UserRequest>

<h1 class="spacetop">User Requests</h1>
<div class="ui raised segment">
    @if (Model.Any())
    {
        <form id="approveUserForm" asp-controller="UserManagement" asp-action="ApproveUserRequest" method="post" class="ui large form">
            @Html.Hidden("selected")
            @Html.Hidden("reject")
            <table class="ui compact celled definition table">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Registration Date</th>
                    <th>E-mail address</th>
                    <th>Phone Number</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted slider checkbox" data-id="@request.Id">
                                <input type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>@request.GetFullName()</td>
                        <td>@request.DateCreated.ToString("dd-MMM-yyyy") at @request.DateCreated.ToString("hh:mmtt").ToLower()</td>
                        <td>@request.EmailAddress</td>
                        <td>@request.PhoneNumber</td>
                        <td>@request.Message</td>
                    </tr>
                }
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="6">
                        <div class="ui small green button disabled approvebtn">
                            Approve
                        </div>
                        <div class="ui small green button approveallbtn">
                            Approve All
                        </div>
                        <div class="ui small button red leftmargin20 disabled rejectbtn">
                            Reject
                        </div>
                        <div class="ui success message">
                            <div class="header">Requests successfully updated</div>
                        </div>
                        <div class="ui error message">
                            <div class="header">Failed update requests</div>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </form>
    }
    else
    {
    <div class="nomsg">
        No pending requests
    </div>
    }
</div>