﻿@using PassFix.Extensions
@model PassFix.ViewModels.MenuModel

<div id="sideMenuSlide" class="ui vertical inverted sticky menu fixed top transition @(User.Identity.IsAuthenticated ? "" : "hidden")">
    <div class="bigtitle item">
        <a href="/">
            <i class="circular inverted configure icon"></i> PassFix
            <div id="menuloader" class="ui inline loader"></div>
        </a>
    </div>
    
    <div class="item">
        <h3 class="ui white">
            <i class="user circle outline icon"></i>
            <span id="myusername">@(Model.Username)</span>
        </h3>
    </div>

    @if (Model.Claims.Any(x => x.Type.ToLower() == "usermanagement"))
    {
        <div class="item">

            <div class="ui inverted accordion">
                <div id="UserManagement" class="title">
                    <i class="dropdown icon"></i>
                    User Management
                </div>
                <div class="content">
                    <div class="menu">
                        @foreach (var claim in Model.Claims.Where(x => x.Type.ToLower() == "usermanagement"))
                        {
                            <a class="item" data-section="UserManagement" data-option="@(claim.Value)">@(claim.Value.TitleCaseToWords())</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.Claims.Any(x => x.Type.ToLower() == "amu"))
    {
        <div class="item">
            <div class="ui inverted accordion">
                <div id="AMU" class="title">
                    <i class="dropdown icon"></i>
                    A.M.U Tools
                </div>
                <div class="content">
                    <div class="menu">
                        @foreach (var claim in Model.Claims.Where(x => x.Type.ToLower() == "amu"))
                        {
                            <a class="item" data-section="AMU" data-option="@(claim.Value)">@(claim.Value.TitleCaseToWords())</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            @Html.AntiForgeryToken()
            <button type="submit" class="logoutbtn"><i class="sign out icon"></i>Log out</button>
        </form>
    </div>
</div>