﻿/* Body */
* {
    outline-color: #2F7144;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
    color: #333;
    font-size: .85em;
    font-family: 'Segoe UI';
    min-width: 980px;
}

body {
    background-image: url(/images/bg2.jpg);
}


footer {
    background: url(/images/bg.jpg);
    border-top: 1px solid #ccc;
    height: 37px;
    background-color: #f4f4f4;
    display: table;
    width: 100%;
}

.footertext {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #2D6D42;
    font-weight: bold;
    padding-left: 155px;
}

.header {
    border-top: 2px solid #ccc;
    width: 100%;
    position: relative;
    z-index: 999;
    background-image: none;
    border-bottom: 3px solid #2F7144;

    :after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/bg6.jpg);
        width: 100%;
        height: 100%;
        opacity: 0.3;
        z-index: -1;
    }
}

/* header/footer */
.imgwrapper1 {
    width: 15%;
    padding: 5px 0px;
    display: table-cell;
    vertical-align: middle;
}

.imgwrapper2 {
    width: auto;
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-family: IrisUPC;
    color: darkgreen;
    padding: 0px 30px 0px 0px;

    a {
        color: #369;
        text-decoration: none;
    }
}


.irislogo {
    background: url(/images/irislogo.png);
    width: 89px;
    height: 60px;
    margin: 0px 0px 0px 80px;
    float: left;
    cursor: pointer;
}

.irislogosmall {
    background: url(/images/irislogosmall.png);
    width: 60px;
    height: 40px;
    margin: 5px 10px 0px 48px;
    cursor: pointer;
}


/* Login Bar */

#divLoggedIn {
    right: 10px;
    top: 10px;
    min-width: 107px;
    position: absolute;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}

/* left middle right bars*/
.menudiv {
    width: 15%;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 5px 7px 0px 7px;
    border-right: 1px solid #ccc;
    background-color: white;
    min-width: 180px;
}

.middle {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    min-width: 960px;
}

.outertable {
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    padding-bottom: 51px;
}
