.flexbox {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.flexbox-content {
    flex: 1;
    z-index: 10;
}

.regdiv {
    text-align: center;
}

.hidden.menu {
    display: none;
}

.button.showlogin {
    margin-top: 10px;
}

.ui.modal > .header:not(.ui) {
    font-size: 1.7rem;
}

.ui.modal > .content {
    font-size: 1.3em;
}

.masthead.segment {
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

#mainheader {
    padding-top: 7px;
}

.ui.form.error .error.message:not(:empty) {
    margin-bottom: 10px;
}

#menuloader {
    float: right;
    margin-top: 5px;
}

#bigtitle {
    font-size: 35px;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    color: white !important;
}

.bigtitle {
    font-size: 30px;
    padding: 30px 20px 0px 30px !important;
}

#bigtitle i {
    margin-right: 5px;
}

#bigtitle a {
    display: block;
}

.ui.accordion .title:not(.ui) {
    font-size: 15px;
}

.ui.vertical.menu .menu .item {
    font-size: 14px;
}

.ui.vertical.menu {
    width: 17rem;
}

.logoutbtn {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
}

#sideMenu {
    z-index: 5;
}
    
#sideMenu .configure {
    margin: 0;
    padding: 0 !important;
    float: none;
    width: 35px !important;
}

#logindiv, #requestdiv, #forgotdiv {
    display: none;
    margin-top: 40px;
}

#resetdiv {
    margin-top: 40px;
}

.loginmsg {
    margin-top: 15px;
}

.container .header {
    color: #1b1c1d !important;
}

.image {
    margin-top: -100px;
}
.column {
        max-width: 450px;
}

footer {
    z-index: 100;
}

.footer {
    text-align: center;
    width: 100%;
    font-size: 15px;
    background-color: #1b1c1d;
    color: white;
    padding: 10px 0px;
    z-index: 999;
    border-top: 1px solid #323333;
}

.footer.segment {
    padding: 5em 0em;
}


.pusher {
    height: 100%;
}

.resetpw {
    color: green;
}


.noresize {
    resize: none !important;
}

.leftmargin20 {
    margin-left: 20px;
}

.ui.segment {
    margin-top: 0;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}