﻿.toolsbg {
    opacity: 0.05;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-65%);
}

.toolsbg .fa-stack{
    position: relative;
    left: -50%;
    margin-left: 17rem;
    font-size: 15em;
}

.tools {
    width: 100%;
    height: 100%;
}

.ui.vertical.inverted {
    height: 100%;
}

.nomsg {
    font-size: 16px !important;
    text-align: center !important;
    padding: 30px 0 !important;
}

.modal s.vertical.menu .item {
    max-height: 300px;
    overflow-y: auto;
}

.seperate {
    height: 10px;
}

.ui.horizontal.segments {
    margin: 10px;
    background-color: #f4f4f4;
}

.optionselected {
    color: white !important;
    background-color: teal !important;
}

.segmentheader {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 40px;
}

.searchbox {
    padding: 2px !important;
}

.spacedownm {
    margin-bottom: 10px !important;
}

.ui.transparentbtn {
    background-color: transparent;
    padding: 5px 0 0 0;
    cursor: default;
    display: none;
}

.button.viewdisabledusers {
    margin-bottom: 20px;
}

.dontshow {
    display: none;
}

.spacebottom {
    margin-bottom: 20px;
}

.tools .column {
    max-width: 500px;
}

.tools .searchform.ui.loading.form:after {
    border-style:  none;
}

.tools .searchform.ui.loading.form:before {
    background: none;
}

#workspace {
    padding: 0em 2em 3em 19em;
}

.spacetop {
    margin-top: 40px !important;
}

#selectBranch {
    padding: 2.5em 2em 3em 19em;
    display: none;
}

#selectBranch .ui.button {
    background: #efefef none;
}

#selectBranch .search.icon.button {
    min-width: 220px;
}

.redbg {
    background-color: #FFF6F6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ui.form textarea {
    resize: none;
    height: 80px !important;
    min-height: 80px !important;
}

.ui.divider {
     margin: 0.5rem 0rem;
}