﻿@using PassFix.Models.AccountViewModels
@model RegistrationModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="ui maincontainer text container">
    <div id="defaultdiv" class="regdiv ui text masthead text-center container">
        <h1 class="ui inverted header">
            Iris Passport Fixer
        </h1>
        <h2>When the AMU tool just won't do.</h2>
        <div class="ui huge primary button showlogin">Get Started <i class="right arrow icon"></i></div>
    </div>

    <div id="logindiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Log-in to your account
                </div>
            </h2>
            <form id="loginfrm" asp-controller="Account" asp-action="Login" method="post" class="ui large form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" asp-for="LoginViewModel.Email" name="email" value="admin@irissmart.com" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" asp-for="LoginViewModel.Password" value="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large blue submit button">Login</div>
                </div>
                
                <div class="ui success message">
                    <div class="header">Login Successful</div>
                    <p>Welcome</p>
                </div>
                <div class="ui error message">
                    <div class="header">Login Failed</div>
                    <p>Invalid username or password</p>
                </div>
            </form>

            <div class="ui forgotpw basic animated button" tabindex="0">
                <div class="visible content">Forgot your password?</div>
                <div class="hidden content">
                    <span class="resetpw teal">Reset it</span>
                </div>
            </div>
        </div>
    </div>
    
    <div id="forgotdiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Reset my password
                </div>
            </h2>
            <form id="forgotfrm" asp-controller="Account" asp-action="ForgotPassword" method="post" class="ui form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" asp-for="ForgotPasswordViewModel.Email" name="email" placeholder="E-mail address">
                        </div>
                    </div>
              
                    <div class="ui fluid large blue submit button">Reset</div>
                </div>
                
                <div class="ui success message">
                    <div class="header">An email has been sent to your registered address with instructions to reset your password</div>
                </div>
                <div class="ui error message">
                    <div class="header">Could not process request. Please try again later</div>
                </div>
            </form>
        </div>
    </div>
    
    <div id="requestdiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Request a login account
                </div>
            </h2>
            <form id="requestfrm" asp-controller="Account" asp-action="Register" method="post" class="ui large form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" asp-for="Request.FirstName" name="firstname" placeholder="First name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" asp-for="Request.Surname" name="surname" placeholder="Surname">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            <input type="text" asp-for="Request.PhoneNumber" name="phonenumber" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            <input type="text" asp-for="Request.EmailAddress" name="emailaddress" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" asp-for="Request.Gender" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Gender</div>
                            <div class="menu">
                                <div class="item" data-value="M">Male</div>
                                <div class="item" data-value="F">Female</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="text-left">Brief introductory message</label>
                        <textarea class="noresize" type="text" asp-for="Request.Message" rows="3" name="message" 
                                  placeholder="Hello, this is Wole from Headquarters. We spoke earlier today."></textarea>
                    </div>
                    <div class="ui fluid large teal submit button">Send request</div>
                </div>

                <div class="ui success message">
                    <div class="header">Request Successful</div>
                    <p>A message will be sent to your registered email after an admin handles your request</p>
                </div>
                <div class="ui error message">
                    <div class="header">Invalid registration info</div>
                    <p class="errormessage"></p>
                </div>
            </form>
        </div>
    </div>
</div>