﻿@model PassFix.ViewModels.MenuModel

<link rel="stylesheet" type="text/css" href="/css/tools.css">

@{
    ViewData["Title"] = "Tools";
}

<div class="tools">
    <div class="toolsbg">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    
    <div id="selectBranch">
        <div id="branchNameCmb" class="ui floating dropdown labeled search icon button selectbranch">
            <i class="search icon"></i>
            <span class="text">Select branch name</span>
            <div class="menu">
                @foreach (var branch in Model.Branches)
                {
                    <div class="item" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchName</div>
                }
            </div>
        </div>
        
        <div id="branchCodeCmb" class="ui floating dropdown labeled search icon button selectbranch">
            <i class="search icon"></i>
            <span class="text">Or select branch code</span>
            <div class="menu">
                @foreach (var branch in Model.Branches)
                {
                    <div class="item" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchCode</div>
                }
            </div>
        </div>
    </div>

    <div id="workspace"></div>
</div>

<script src="~/js/tools.js"></script>
<script src="~/js/UserManagement/manageUserRequests.js"></script>
<script src="~/js/UserManagement/manageOtherUsers.js"></script>
<script src="~/js/UserManagement/manageMyAccount.js"></script>

<script src="~/js/amu/amu.js"></script>
