﻿@model PassFix.ViewModels.Record

<form id="updateform" asp-controller="Amu" asp-action="@Model.UpdateUrl" method="post" class="ui update form">
    @Html.HiddenFor(x => x.FormNo)
    @Html.HiddenFor(x => x.BranchCode)
    <div class="spacebottom">
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td class="five wide column">First Name</td>
                    <td class="clearable">@Model.FirstName</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td class="clearable">@Model.Surname</td>
                </tr>
                <tr>
                    <td>Middle Name</td>
                    <td class="clearable">@Model.MiddleName</td>
                </tr>
                @if (Model.AllowEditLocation)
                {
                    <tr>
                        <td>Enrollocation Id</td>
                        <td>
                            <div class="field">
                                <div class="ui input disabled">
                                    <input type="text" asp-for="LocationId" value="@(Model.LocationId == 0 ? "" : Model.LocationId.ToString())" name="locationid">
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Enrollocation Id</td>
                        <td class="clearable">@(Model.LocationId == 0 ? "" : Model.LocationId.ToString())</td>
                    </tr>
                }
              
                <tr class="stagecodediv">
                    <td>Stage Code</td>
                    <td class="clearable">@Model.StageCode</td>
                </tr>
                @if (Model.ShowPassportNo)
                {
                    <tr>
                        <td>Passport No</td>
                        <td class="clearable">@Model.PassportNo</td>
                    </tr>
                }

                @if (Model.ShowPassportType)
                {
                    <tr>
                        <td>Passport Type</td>
                        <td class="clearable">@Model.PassportType</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
</form>