﻿@model PassFix.ViewModels.DetailedRecord

<form id="updateform" asp-controller="Amu" asp-action="@Model.UpdateUrl" method="post" class="ui update form">
    @Html.HiddenFor(x => x.FormNo)
    @Html.HiddenFor(x => x.BranchCode)
    <div class="spacebottom">
        <table class="ui definition table">
            <tbody>
            <tr>
                <td class="five wide column">First Name</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="FirstName" name="firstname">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="Surname" name="surname">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Middle Name</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="MiddleName" name="middlename">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <div class="field">
                        <select asp-for="Sex" class="ui disabled dropdown">
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="DateOfBirth" name="dateofbirth">
                        </div>
                    </div>
                </td>
            </tr>
                
            <tr>
                <td>Personal No</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="PersonalNo" name="personalno">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Birth State</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="BirthState" name="birthstate">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Birth Town</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="BirthTown" name="birthtown">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Title</td>
                <td>
                    <div class="field">
                        <select asp-for="Title" class="ui disabled dropdown">
                            <option value="">Select Title</option>
                            @foreach (var title in Model.Titles)
                            {
                                <option value="@title.Name">@title.Name</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Origin State</td>
                <td>
                    <div class="field">
                        <select asp-for="OriginState" class="ui disabled dropdown">
                            <option value="">Select State</option>
                            @foreach (var state in Model.States)
                            {
                                <option value="@state.Name">@state.Name</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Doc Type</td>
                <td>
                    @Model.DocType
                    @*<div class="field">
                        <div class="ui input disabled">
                            <select asp-for="DocType" class="ui disabled dropdown">
                                <option value="">Select Doctype</option>
                                <option value="P">Personal</option>
                                <option value="PF">Official</option>
                                <option value="PD">Diplomatic</option>
                            </select>
                        </div>
                    </div>*@
                </td>
            </tr>
            <tr>
                <td>Doc Page</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <select asp-for="DocPage" class="ui disabled dropdown">
                                <option value="">Select Pages</option>
                                <option value="0">32 pages</option>
                                <option value="1">64 pages</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>App Reason</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="Appreason" value="@(Model.Appreason == 0 ? "" : Model.Appreason.ToString())" name="appreason">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Remarks</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <textarea asp-for="Remarks" name="remarks"></textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>No Finger</td>
                <td>
                    <div class="field">
                        <div class="ui disabled perma checkbox">
                            <input type="checkbox" name="nofinger" asp-for="Nofinger">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Reference Id</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="ReferenceId" name="referenceid">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application Id</td>
                <td>
                    <div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="ApplicationId" name="applicationid">
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="stagecodediv">
                <td>Stage Code</td>
                <td>
                    @Model.StageCode
                    @*<div class="field">
                        <div class="ui input disabled">
                            <input type="text" asp-for="StageCode" name="stagecode">
                        </div>
                    </div>*@
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ui fluid large teal disabled submit button">Update Record</div>

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
</form>