﻿@model PassFix.ViewModels.DetailedRecord

<form asp-controller="Amu" asp-action="@Model.SearchUrl" method="post" class="ui searchform form">
    <input type="hidden" id="searchbranchcode" name="searchbranchcode" class="searchbranchcode" asp-for="BranchCode" />
    <div class="field">
        <div class="ui action left icon input">
            <i class="search icon"></i>
            <input type="number" asp-for="FormNo" class="numeric" name="formno" placeholder="Enter Form number">
            <div class="ui teal submit button">Search</div>
        </div>
    </div>
    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
</form>