﻿@using PassFix.Models.AccountViewModels
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<style>
    #loginbtn, #registerbtn {
        display: none;
    }

    #bigtitle {
        margin-bottom: 0;
    }
</style>

<div id="resetdiv" class="regdiv ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <div class="content loginmsg">
                Reset your password
            </div>
        </h2>
        <form id="resetpasswordfrm" asp-controller="Account" asp-action="ResetPassword" method="post" class="ui large form">
            <input asp-for="Code" type="hidden" />
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" asp-for="Email" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" asp-for="Password" name="password" placeholder="Enter new password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" asp-for="ConfirmPassword" name="confirmpassword" placeholder="Confirm new password">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Reset</div>
            </div>

            <div class="ui success message">
                <div class="header">Password successfully changed</div>
            </div>
            <div class="ui error message">
                <div class="header">Invalid details entered</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
